<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <a href="./" class="top-bar__logo">
            <img
                src="./assets/imgs/Logo.svg"
                alt=""
                class="top-bar__logo-title"
            />
        </a>

        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link current">Home</a>
                </li>

                <li class="navbar__item">
                    <a href="./about.html" class="navbar__link">About</a>
                </li>

                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Projects</a>
                </li>

                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Contact</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Page

                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__link-icon"
                        />
                    </a>
                    <!-- Dropdown -->
                    <div class="dropdown d-md-none">
                        <div class="dropdown__inner">
                            <ul class="menu__list">
                                <li class="menu-item">
                                    <a href="./" class="menu-item__link"
                                        >Home
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                    <!-- Menu lv2 -->
                                    <div
                                        class="dropdown dropdown__lv2 d-md-none"
                                    >
                                        <div
                                            class="dropdown__inner dropdown__inner-lv2"
                                        >
                                            <ul class="menu__list">
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Home 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Home 2
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Home 3
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Home 4
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >About us
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >Project
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                    <!-- Menu lv2 -->
                                    <div class="dropdown dropdown__lv2">
                                        <div class="dropdown__inner">
                                            <ul class="menu__list">
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Project 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Project 2
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Project 3
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a
                                                        href="#!"
                                                        class="menu-item__link"
                                                        >Project 4
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >Contact us
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >Blog
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >404 Error
                                        <img
                                            src="../assets/icons/arrow-down.svg"
                                            alt=""
                                            class="menu-item__link-icon"
                                        />
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >Project Details
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="#!" class="menu-item__link"
                                        >Blog Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act d-md-none">
            <a href="#!" class="top-act__btn btn btn--primary btn--rounded"
                >Contact</a
            >
        </div>

        <!-- More -->
        <button
            class="top-bar__more d-none d-md-block js-toggle"
            toggle-target="#navbar"
        >
            <img
                src="./assets/icons/more.svg"
                alt=""
                class="top-bar__more-icon"
            />
        </button>
    </div>
</div>
