@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #22201f;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background: black;
  color: #fff;
}
button:hover .icon {
  filter: var(--filter-icon);
}

a {
  color: inherit;
  text-decoration: none;
}

.dark-color {
  color: var(--text-dark-color);
}

.icon-theme-dark {
  filter: var(--filter-icon);
}

.heading-white {
  color: var(--text-heading-white-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@media (max-width: -0.02) {
  .d-xs-block {
    display: block !important;
  }
  .d-xs-flex {
    display: flex !important;
  }
  .d-xs-grid {
    display: grid !important;
  }
  .d-xs-none {
    display: none !important;
  }
}
html {
  --text-color: #373739;
  --text-heading-white-color: #fff;
  --text-dark-color: #d6d8d9;
  --filter-icon: brightness(0) saturate(100%) invert(100%) sepia(9%)
    saturate(1316%) hue-rotate(172deg) brightness(93%) contrast(82%);
  --filter-icon-theme-dark: brightness(0) saturate(100%) invert(17%) sepia(7%)
    saturate(2%) hue-rotate(258deg) brightness(102%) contrast(87%);
  --primary-bg-color: #d6d8d9;
}

.navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: #fff;
  display: flex;
  align-items: center;
  height: 110px;
}
@media (max-width: 991.98px) {
  .header {
    height: 70px;
  }
}

.top-bar {
  justify-content: space-between;
  padding: 15px 0;
}

.navbar {
  z-index: 99;
}
.navbar.show {
  translate: 0;
}
@media (max-width: 767.98px) {
  .navbar {
    position: fixed;
    padding: 25px;
    inset: 0 50% 0 0;
    background: var(--primary-bg-color);
    translate: -100%;
    transition: translate 0.5s;
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.navbar__item {
  display: flex;
  position: relative;
}
.navbar__item:hover > .dropdown {
  visibility: visible;
}
@media (max-width: 767.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .navbar__link-icon {
    rotate: 0deg;
  }
}
.navbar__link {
  padding: 10px 17px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
}
.navbar__link:hover {
  background: #d6d8d9;
}
@media (max-width: 991.98px) {
  .navbar__link {
    font-size: 1.6rem;
    padding: 10px 14px;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navbar__link:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
.navbar__link-icon {
  margin-left: 6px;
  transition: 0.1s;
}
@media (max-width: 767.98px) {
  .navbar__link-icon {
    rotate: -90deg;
  }
}

.top-act__btn {
  --height-btn: 46px;
  height: var(--height-btn) !important;
  padding: 0 31px !important;
}
@media (max-width: 991.98px) {
  .top-act__btn {
    --height-btn: 34px;
    width: 100px;
    font-size: 1.6rem !important;
  }
}

.footer {
  background: #22201f;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1199.98px) {
  .footer__row {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1199.98px) {
  .footer__row {
    padding: 0 60px;
  }
}
@media (max-width: 991.98px) {
  .footer__row {
    padding: 0;
    gap: 12px;
  }
}
.footer__desc {
  max-width: 558px !important;
}
.footer__info {
  margin-top: 29px;
}
.footer__btn {
  margin-top: 17px;
  max-width: 214px;
}
@media (max-width: 767.98px) {
  .footer__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    margin-bottom: 48px;
  }
}
.footer__heading {
  margin-bottom: 36px;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 767.98px) {
  .footer__heading {
    font-size: 2rem;
  }
}
.footer__right {
  padding-top: 54px;
  margin-left: 15px;
  border-top: 1px solid #828282;
}
.footer__contact > .footer__link + .footer__link {
  margin-top: 40px;
}
.footer__social > .footer__link + .footer__link {
  margin-top: 28px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
  max-width: 185px;
  color: #d6d8d9;
}
@media (max-width: 767.98px) {
  .footer__link {
    font-size: 1.6rem;
  }
}
.footer__copyright {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #d6d8d9;
  margin-top: 75px;
}
@media (max-width: 767.98px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  height: 60px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  user-select: none;
}
.btn + .btn:not(.btn-no-margin) {
  margin-left: 20px;
}
.btn--small {
  height: 40px;
}
.btn--text {
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  color: #fff;
  background: #22201f;
}
.btn--outline {
  border: 1px solid #22201f;
  background: transparent;
}
.btn--outline-theme-dark {
  border: 1px solid #d6d8d9;
  color: var(--text-dark-color);
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  background: black;
  transition: all 0.3s;
  color: #fff;
}
.btn:hover .icon {
  filter: var(--filter-icon);
}
.btn:hover .icon-theme-dark {
  filter: var(--filter-icon);
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: min(220px, 100vw);
  padding-top: 14px;
  visibility: hidden;
  transition: visibility 0.2s;
}
@media (max-width: 767.98px) {
  .dropdown {
    left: -25px;
    top: 23px;
  }
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding) 10px;
  border-radius: 10px;
  background: #d6d8d9;
}
@media (max-width: 767.98px) {
  .dropdown__inner {
    --inner-padding: 0;
    background: transparent;
  }
}
.dropdown__lv2 {
  position: absolute;
  visibility: hidden;
  top: 25px;
  left: 102%;
}

.menu-item:hover > .dropdown {
  visibility: visible;
}
.menu-item:hover > .menu-item__link-icon {
  rotate: 90deg;
}
.menu-item__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: 34px;
  padding: 0 20px;
  color: #22201f;
}
.menu-item__link:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu-item__link-icon {
  rotate: -90deg;
}
@media (max-width: 767.98px) {
  .menu-item__link-icon {
    display: none;
  }
}

.slideshow {
  position: relative;
}
.slideshow__heading {
  font-size: 13rem;
  font-weight: 700;
  line-height: 104.412%;
  color: #22201f;
}
@media (max-width: 1199.98px) {
  .slideshow__heading {
    font-size: 10.5rem;
  }
}
@media (max-width: 991.98px) {
  .slideshow__heading {
    font-size: 8rem;
  }
}
@media (max-width: 767.98px) {
  .slideshow__heading {
    font-size: 3.6rem;
  }
}
.slideshow__decor {
  position: absolute;
  right: 70px;
  top: 13px;
}
@media (max-width: 1199.98px) {
  .slideshow__decor {
    width: 240px;
    right: 75px;
    top: 20px;
  }
}
@media (max-width: 991.98px) {
  .slideshow__decor {
    width: 180px;
    right: 50px;
    top: 15px;
  }
}
@media (max-width: 767.98px) {
  .slideshow__decor {
    width: 126px;
    right: 226px;
    top: 37px;
  }
}
.slideshow__decor-mobile {
  position: absolute;
  right: 47px;
  top: 5px;
}
.slideshow__round {
  position: absolute;
  top: -9px;
  left: -17px;
}
@media (max-width: 991.98px) {
  .slideshow__round {
    width: 22px;
  }
}
.slideshow-star__small {
  position: absolute;
  left: -22px;
  bottom: -4px;
}
.slideshow-star__large {
  position: absolute;
  top: -17px;
  left: 601px;
}
@media (max-width: 1199.98px) {
  .slideshow-star__large {
    left: 483px;
    width: 45px;
  }
}
@media (max-width: 991.98px) {
  .slideshow-star__large {
    left: 370px;
    width: 30px;
    top: -10px;
  }
}
@media (max-width: 767.98px) {
  .slideshow-star__large {
    top: -5px;
    left: 166px;
    width: 14px;
  }
}
.slideshow__box {
  width: 351px;
  height: 99px;
  flex-shrink: 0;
}

.section-heading {
  font-size: 7.6rem;
  font-weight: 600;
  line-height: 115.789%;
}
@media (max-width: 991.98px) {
  .section-heading {
    font-size: 6rem;
  }
}
@media (max-width: 767.98px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
.section-heading--lv2 {
  font-size: 5.8rem;
  font-weight: 500;
  line-height: 117.241%;
}
@media (max-width: 991.98px) {
  .section-heading--lv2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 767.98px) {
  .section-heading--lv2 {
    font-size: 2rem;
  }
}

.section-desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%;
}
@media (max-width: 767.98px) {
  .section-desc {
    font-size: 1.6rem;
  }
}

.home__container {
  padding: 100px 0;
}
@media (max-width: 991.98px) {
  .home__container {
    padding: 70px 0;
  }
}
.home__slideshow {
  margin-top: -20px;
}
.home__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__title-wrap {
  margin: 46px 0 90px 13px;
  gap: 28px;
}
@media (max-width: 991.98px) {
  .home__title-wrap {
    margin: 30px 0 40px;
  }
}
@media (max-width: 767.98px) {
  .home__title-wrap {
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0 28px;
  }
}
.home-heading__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 117.241%;
  margin-top: 12px;
}
@media (max-width: 1199.98px) {
  .home-heading__title {
    font-size: 4.3rem;
  }
}
@media (max-width: 767.98px) {
  .home-heading__title {
    font-size: 2rem;
  }
}
.home__desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%;
  max-width: 600px;
}
@media (max-width: 767.98px) {
  .home__desc {
    font-size: 1.6rem;
  }
}
.home__btn-info {
  min-width: 214px;
}
.home-media__left {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .home-media__left {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    column-gap: 0;
  }
}
@media (max-width: 767.98px) {
  .home-media__left {
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .home-media__left {
    flex-direction: row;
  }
}
.home-media__img {
  display: block;
  width: 228px;
  height: 250px;
  flex-shrink: 0;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .home-media__img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .home-media__img {
    width: 100%;
    height: 174px;
  }
}
@media (max-width: 575.98px) {
  .home-media__img {
    width: 159px;
    height: 174px;
  }
}
.home-media__img-right {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 420px;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .home-media__img-right {
    width: 100%;
    height: 656px;
  }
}
@media (max-width: 991.98px) {
  .home-media__img-right {
    width: 100%;
    height: 612px;
  }
}
@media (max-width: 767.98px) {
  .home-media__img-right {
    width: 100%;
    height: 174px;
    flex-shrink: 0;
    margin-top: 20px;
  }
}
.home__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 115.789%;
}
@media (max-width: 1199.98px) {
  .home__heading {
    font-size: 6.5rem;
  }
}
@media (max-width: 767.98px) {
  .home__heading {
    font-size: 3.6rem;
  }
}
@media (max-width: 575.98px) {
  .home__heading {
    font-size: 2.6rem;
  }
}
.home-about__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .home-about__inner {
    align-items: inherit;
  }
}
.home-about__img {
  width: 100%;
  height: 706px;
  flex-shrink: 0;
  border-radius: 10px;
  translate: 0;
  transition: transform 0.6s;
  cursor: pointer;
}
.home-about__img:hover {
  transform: translateX(-20px);
}
@media (max-width: 1199.98px) {
  .home-about__img {
    height: 99%;
  }
}
@media (max-width: 767.98px) {
  .home-about__img {
    width: 100%;
    height: 416px;
    margin-bottom: 28px;
  }
  .home-about__img:hover {
    transform: none;
  }
}
.home-about__desc {
  margin: 24px 0 54px;
}
@media (max-width: 1199.98px) {
  .home-about__desc {
    margin: 12px 0 20px;
  }
}
@media (max-width: 767.98px) {
  .home-about__desc {
    margin: 12px 0 28px;
  }
}
.home-about__btn {
  max-width: 195px;
}
.home-work {
  background: #f2efed;
}
.home-work__top {
  text-align: center;
}
.home-work__desc {
  margin: 18px auto 0;
}
.home-work__desc--sub {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
  margin-top: 20px;
}
.home-work__content {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .home-work__content {
    margin-top: 28px;
  }
}
.home-work__img {
  width: 100%;
  height: 827px;
}
.home-work__img:hover {
  transform: translateX(20px);
}
@media (max-width: 767.98px) {
  .home-work__img:hover {
    transform: none;
  }
}
@media (max-width: 767.98px) {
  .home-work__img {
    height: 435px;
    width: 100%;
  }
}
.home-work__list {
  width: 470px;
}
@media (max-width: 1199.98px) {
  .home-work__list {
    width: 100%;
  }
}
.home-work__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #828282;
}
.home-work__item ~ .home-work__item {
  margin-top: 43px;
}
.home-work__step {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #828282;
}
@media (max-width: 767.98px) {
  .home-work__step {
    font-size: 1.6rem;
  }
}
.home-project {
  background: #22201f;
}
.home-project__inner {
  padding: 100px 0;
}
@media (max-width: 767.98px) {
  .home-project__inner {
    padding-top: 70px;
  }
}
@media (max-width: 767.98px) {
  .home-project__row {
    flex-direction: column;
  }
}
.home-project__desc {
  margin-top: 24px;
}
@media (max-width: 767.98px) {
  .home-project__desc {
    margin-top: 12px;
  }
}
.home-project__btn-info {
  margin-top: 14px;
  width: 249px;
}
.home-project__btn-info:hover {
  background: #d6d8d9;
  color: var(--text-color);
}
.home-project__btn-info:hover .home-project__btn-info-icon {
  filter: var(--filter-icon-theme-dark);
}
.home-project__row {
  align-items: inherit;
}
.home-project__list {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .home-project__list {
    margin-top: 28px;
    gap: 40px;
    align-items: inherit;
  }
}
.home-project__item {
  flex-shrink: 0;
  width: 470px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .home-project__item {
    width: 340px;
  }
}
@media (max-width: 767.98px) {
  .home-project__item {
    width: 100%;
  }
}
.home-project__item--title {
  margin-top: 14px;
  padding-right: 20px;
  width: 100%;
}
.home-project__img {
  width: 470px;
  height: 350px;
  pointer-events: none;
}
@media (max-width: 1199.98px) {
  .home-project__img {
    height: 250px;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .home-project__img {
    height: 100%;
    width: 100%;
  }
}
.home-project__title-wrap {
  margin-top: 38px;
}
@media (max-width: 767.98px) {
  .home-project__title-wrap {
    margin-top: 28px;
  }
}
.home-service__desc {
  max-width: 800px;
  margin: 24px auto 0;
}
@media (max-width: 767.98px) {
  .home-service__desc {
    margin: 12px auto;
  }
}
.home-service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-top: 61px;
}
@media (max-width: 767.98px) {
  .home-service__list {
    grid-template-columns: 1fr;
    margin-top: 28px;
    gap: 28px;
  }
}
.home-service__item {
  text-align: center;
  height: 100%;
  flex-shrink: 0;
}
.home-service__icon {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  pointer-events: none;
}
.home-service__title {
  margin: 51px 0 18px;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 133.333%;
}
@media (max-width: 767.98px) {
  .home-service__title {
    margin: 20px 0 12px;
    font-size: 2rem;
  }
}
.home-service__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 170%;
  color: #828282;
}
@media (max-width: 767.98px) {
  .home-service__text {
    font-size: 1.6rem;
    padding: 0 15px;
  }
}
@media (max-width: 767.98px) {
  .home-blog__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.home-blog__list {
  margin-top: 60px;
  gap: 50px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .home-blog__list {
    margin-top: 28px;
    gap: 0;
  }
}
.home-blog__item {
  width: 470px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: rgba(230, 232, 234, 0.5);
}
@media (max-width: 767.98px) {
  .home-blog__item {
    width: 100%;
  }
}
.home-blog__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
.home-blog__wrap {
  margin-top: 24px;
  height: 100%;
  padding: 0 10px 10px;
}
@media (max-width: 767.98px) {
  .home-blog__wrap {
    margin-top: 20px;
  }
}
.home-blog__time {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #828282;
}
@media (max-width: 767.98px) {
  .home-blog__time {
    font-size: 1.6rem;
  }
}
.home-blog__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 133.333%;
  margin-top: 14px;
  white-space: nowrap; /* Ngăn chặn văn bản xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản bị tràn ra ngoài phần tử */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) khi văn bản bị cắt bớt */
}
@media (max-width: 767.98px) {
  .home-blog__title {
    font-size: 2rem;
  }
}
.home-blog__desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
  margin: 18px 0 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
  -webkit-box-orient: vertical; /* Hiển thị dòng theo chiều dọc */
}
@media (max-width: 767.98px) {
  .home-blog__desc {
    font-size: 1.4rem;
    margin: 12px 0;
  }
}
.home-blog__more {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
}
.home-blog__more:hover .home-blog__icon {
  transform: translateY(-5px);
}
.home-blog__icon {
  transition: transform 0.3s;
  margin-left: 10px;
}

.our {
  position: relative;
  background: #22201f;
}
.our__inner {
  color: var(--text-heading-white-color);
}
@media (max-width: 767.98px) {
  .our__inner {
    padding: 55px 0;
  }
}
.our__row {
  align-items: inherit;
}
@media (max-width: 991.98px) {
  .our__row {
    flex-direction: column;
  }
}
.our__desc {
  margin-top: 12px;
  max-width: 570px;
}
.our-decor__round {
  position: absolute;
  top: 56px;
  right: 150px;
  width: 20px;
}
@media (max-width: 767.98px) {
  .our-decor__round {
    top: 80px;
    right: 37px;
  }
}
.our-decor__star {
  position: absolute;
  top: 70px;
  left: 150px;
  width: 22px;
}
@media (max-width: 767.98px) {
  .our-decor__star {
    top: 35px;
    left: 13px;
  }
}
.our__bottom {
  margin-top: 100px;
}
@media (max-width: 1199.98px) {
  .our__bottom {
    margin-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .our__bottom {
    margin-top: 28px;
  }
}
.our-group__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 60px 86px;
}
@media (max-width: 1199.98px) {
  .our-group__list {
    gap: 40px 26px;
  }
}
@media (max-width: 991.98px) {
  .our-group__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 25px;
  }
}
@media (max-width: 767.98px) {
  .our-group__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;
  }
}
@media (max-width: 575.98px) {
  .our-group__list {
    grid-template-columns: 1fr;
  }
}
.our-group__logo {
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .our-group__logo {
    margin: 0 auto;
  }
}

.feedback {
  background: #f2efed;
  position: relative;
}
@media (max-width: 1199.98px) {
  .feedback__inner {
    padding-bottom: 130px;
  }
}
@media (max-width: 575.98px) {
  .feedback__inner {
    padding-bottom: 70px;
  }
}
.feedback__img-wrap {
  width: 553px;
  height: 714px;
}
.feedback__img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  translate: 0;
  transition: transform 0.6s;
  cursor: pointer;
  transition: transform 0.5s;
}
.feedback__img:hover {
  transform: translateX(-20px);
}
@media (max-width: 767.98px) {
  .feedback__img {
    height: 400px;
  }
}
.feedback__heading {
  margin-top: -10px;
}
@media (max-width: 767.98px) {
  .feedback__heading {
    margin-top: 28px;
  }
}
.feedback__slideshow {
  max-width: 570px;
  overflow: hidden;
}
.feedback__list {
  display: flex;
  width: 100%;
}
.feedback__content {
  max-width: 100%;
  flex-shrink: 0;
}
.feedback__desc {
  margin: 34px 0 46px;
}
@media (max-width: 1199.98px) {
  .feedback__desc {
    margin: 25px 0;
  }
}
@media (max-width: 767.98px) {
  .feedback__desc {
    margin: 28px 0;
  }
}
.feedback-star__list {
  display: flex;
  align-items: center;
  gap: 6px;
}
.feedback__name {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 135.714%;
  color: #22201f;
  margin-top: 10px;
  display: block;
}
@media (max-width: 767.98px) {
  .feedback__name {
    font-size: 1.6rem;
    margin-top: 6px;
  }
}
.feedback__act {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 26px;
}
@media (max-width: 1199.98px) {
  .feedback__act {
    position: absolute;
    transform: translateX(-50%);
  }
}
@media (max-width: 767.98px) {
  .feedback__act {
    margin-top: 20px;
    transform: translateX(140%);
  }
}
@media (max-width: 575.98px) {
  .feedback__act {
    position: inherit;
    transform: none;
  }
}
.feedback__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  border: 1.5px solid #22201f;
}
.feedback__btn-icon {
  width: 30px;
}

.milestone {
  background: #22201f;
}
.milestone__inner {
  display: flex;
  align-items: center;
}
.milestone__heading {
  font-size: 5.5rem;
  color: #fff;
}
@media (max-width: 991.98px) {
  .milestone__heading {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
  }
}
.milestone__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 54px 90px;
}
@media (max-width: 991.98px) {
  .milestone__group {
    margin-top: 25px;
    gap: 35px 70px;
  }
}
.milestone-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 14px;
  color: #fff;
}
.milestone-item__number {
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 117.241%;
}
@media (max-width: 1199.98px) {
  .milestone-item__number {
    font-size: 5rem;
  }
}
.milestone-item__text {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 135.714%;
  color: #d6d8d9;
}
@media (max-width: 1199.98px) {
  .milestone-item__text {
    font-size: 2.4rem;
  }
}

.about__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .about__inner {
    padding: 70px 0;
  }
}
.about__heading {
  font-size: 7.6rem;
  font-weight: 600;
  line-height: 115.789%;
}
@media (max-width: 1199.98px) {
  .about__heading {
    font-size: 7rem;
  }
}
@media (max-width: 991.98px) {
  .about__heading {
    font-size: 5rem;
  }
}
@media (max-width: 575.98px) {
  .about__heading {
    font-size: 3.6rem;
  }
}
.about__desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%;
}
@media (max-width: 1199.98px) {
  .about__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .about__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 575.98px) {
  .about__desc {
    font-size: 1.6rem;
  }
}
.about__desc + .about__desc {
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .about__desc + .about__desc {
    margin-top: 10px;
  }
}
.about-top {
  background: #22201f;
}
@media (max-width: 767.98px) {
  .about-top__inner {
    padding: 30px 0 0;
  }
}
.about-top__heading {
  color: #fff;
}
.about-top__btn {
  margin-top: 80px;
  width: min(226px, 100vw);
}
.about-top__btn:hover {
  background: #fff;
  color: initial;
}
.about-top__btn:hover {
  background: #fff;
  color: initial;
}
.about-top__btn:hover .icon-theme-dark {
  filter: var(--filter-icon-theme-dark);
}
@media (max-width: 1199.98px) {
  .about-top__btn {
    margin-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .about-top__btn {
    margin: 28px 0;
  }
}
.about-top__img-wrap {
  height: 650px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .about-top__img-wrap {
    height: 600px;
  }
}
@media (max-width: 991.98px) {
  .about-top__img-wrap {
    height: 420px;
  }
}
@media (max-width: 767.98px) {
  .about-top__img-wrap {
    height: 350px;
  }
}
@media (max-width: 575.98px) {
  .about-top__img-wrap {
    height: 300px;
  }
}
.about-top__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.about-us__inner {
  display: flex;
  align-items: center;
}
.about-us__heading {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .about-us__heading {
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .about-us__heading {
    margin: 28px 0 12px;
  }
}
.about-us__btn {
  margin-top: 40px;
  width: min(211px, 100vw);
}
@media (max-width: 991.98px) {
  .about-us__btn {
    margin-top: 25px;
  }
}
@media (max-width: 767.98px) {
  .about-us__btn {
    margin-top: 28px;
  }
}
.about-us__img-wrap {
  height: 710px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .about-us__img-wrap {
    height: 670px;
  }
}
@media (max-width: 767.98px) {
  .about-us__img-wrap {
    height: 450px;
  }
}
@media (max-width: 575.98px) {
  .about-us__img-wrap {
    height: 410px;
  }
}
.about-us__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.about-feedback__group {
  position: relative;
}
.about-blog__heading {
  text-align: center;
  margin-bottom: 60px;
}
.about-blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
}
@media (max-width: 1199.98px) {
  .about-blog__list {
    gap: 20px 35px;
  }
}
@media (max-width: 991.98px) {
  .about-blog__list {
    grid-template-columns: 1fr;
  }
}
.about-blog__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 575.98px) {
  .about-blog__item {
    flex-direction: column;
    width: 188px;
    margin: 0 auto;
  }
}
.about-blog__img-wrap {
  width: 188px;
  height: 140px;
  flex-shrink: 0;
}
.about-blog__img {
  width: 100%;
  height: 100%;
}
.about-blog__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 133.333%;
  margin-left: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
  -webkit-box-orient: vertical; /* Hiển thị dòng theo chiều dọc */
}
@media (max-width: 1199.98px) {
  .about-blog__title {
    font-size: 3.2rem;
    margin-left: 20px;
  }
}
@media (max-width: 767.98px) {
  .about-blog__title {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .about-blog__title {
    margin-top: 12px;
    margin-left: 0;
  }
}
.about-blog__btn {
  max-width: 235px;
  margin: 60px auto 0;
}
.about-video__inner {
  padding: 100px 0;
}
@media (max-width: 991.98px) {
  .about-video__inner {
    padding: 70px 0;
  }
}
.about-video__wrap {
  position: relative;
  width: 100%;
  padding-top: 50.427%;
}
.about-video__wrap-video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.learn-more {
  background: #22201f;
}
.learn-more__inner {
  padding: 100px 0;
}
@media (max-width: 767.98px) {
  .learn-more__inner {
    padding: 70px 0;
  }
}
.learn-more__row {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 944px;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .learn-more__row {
    max-width: 800px;
  }
}
@media (max-width: 991.98px) {
  .learn-more__row {
    margin-bottom: 28px;
  }
}
.learn-more__heading {
  color: #fff;
  padding-bottom: 24px;
}
.learn-more__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .learn-more__list {
    padding-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .learn-more__list {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}
.learn-more__item {
  position: relative;
  height: 480px;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .learn-more__item {
    height: 450px;
  }
}
@media (max-width: 991.98px) {
  .learn-more__item {
    width: 290px;
  }
}
@media (max-width: 575.98px) {
  .learn-more__item {
    width: 100%;
    height: 356px;
  }
}
.learn-more__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 308px;
  padding: 20px;
  background: #fff;
}
@media (max-width: 1199.98px) {
  .learn-more__content {
    width: 250px;
  }
}
@media (max-width: 991.98px) {
  .learn-more__content {
    width: 270px;
  }
}
@media (max-width: 575.98px) {
  .learn-more__content {
    width: 85vw;
  }
}
.learn-more__img-wrap {
  height: 280px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .learn-more__img-wrap {
    height: 256px;
  }
}
.learn-more__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.learn-more__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 133.333%;
  white-space: nowrap; /* Ngăn chặn văn bản xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản bị tràn ra ngoài phần tử */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) khi văn bản bị cắt bớt */
}
@media (max-width: 1199.98px) {
  .learn-more__title {
    font-size: 3.2rem;
  }
}
@media (max-width: 767.98px) {
  .learn-more__title {
    font-size: 2rem;
  }
}
.learn-more__text {
  margin-top: 18px;
  color: #828282;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Giới hạn số dòng hiển thị */
  -webkit-box-orient: vertical; /* Hiển thị dòng theo chiều dọc */
}
@media (max-width: 1199.98px) {
  .learn-more__text {
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .learn-more__text {
    margin-top: 4px;
  }
}

.featured-work__heading {
  text-align: center;
}
.featured-work__list {
  margin-top: 60px;
}
@media (max-width: 991.98px) {
  .featured-work__list {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .featured-work__list {
    margin-top: 28px;
  }
}
.featured-work__item {
  height: 522px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .featured-work__item {
    height: 90%;
  }
}
.featured-work__item-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .featured-work__item-right {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .featured-work__item-right {
    gap: 25px;
  }
}
.featured-work__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-work__img-right {
  max-height: 246px;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .featured-work__img-right {
    width: 160px;
    height: 146px;
    flex-shrink: 0;
  }
}

@media (max-width: 767.98px) {
  .big-clients__heading {
    margin-bottom: 12px;
    padding-bottom: 0;
  }
}
.big-clients__desc {
  max-width: 570px;
  margin: 0 auto;
  color: #d6d8d9;
}
.big-clients__decor {
  position: absolute;
  left: 439px;
  top: 82px;
  width: 50px;
}
.big-clients__bottom {
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .big-clients__bottom {
    margin-top: 40px;
  }
}

.user-feedback {
  margin: 0 auto;
  overflow: hidden;
  width: min(748px, 100%);
}
@media (max-width: 767.98px) {
  .user-feedback__row {
    margin-bottom: 12px;
  }
}
.user-feedback__list {
  display: flex;
  text-align: center;
  transition: all 0.5s;
}
.user-feedback__item {
  flex-shrink: 0;
  width: 100%;
}
.user-feedback__desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Giới hạn số dòng hiển thị */
  -webkit-box-orient: vertical; /* Hiển thị dòng theo chiều dọc */
}
@media (max-width: 767.98px) {
  .user-feedback__desc {
    font-size: 1.6rem;
  }
}
.user-feedback__rating {
  margin-top: 60px;
}
.user-feedback__rating--list {
  justify-content: center;
}
@media (max-width: 767.98px) {
  .user-feedback__rating {
    margin-top: 28px;
  }
}
.user-feedback__act {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .user-feedback__act {
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .user-feedback__act {
    margin-top: 26px;
  }
}
.user-feedback__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
}
@media (max-width: 991.98px) {
  .user-feedback__btn {
    position: initial;
    top: 0;
    transform: translateY(0);
  }
}
.user-feedback__btn--left {
  left: 0;
}
.user-feedback__btn--right {
  right: 0;
}

.project {
  background: #f2efed;
}
.project-top {
  background: #22201f;
}
.project-top__title {
  padding: 100px 0 80px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .project-top__title {
    padding: 30px 0;
  }
}
.project-top__heading {
  color: #fff;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .project-top__heading {
    margin-bottom: 12px;
  }
}
.project-top__desc {
  max-width: 570px;
  margin: 0 auto;
  color: #d6d8d9;
}
.project__inner {
  padding: 100px 0 80px;
  border-bottom: 1px solid #828282;
}
@media (max-width: 767.98px) {
  .project__inner {
    padding: 30px 0;
  }
}
.project__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .project__list {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .project__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .project__list {
    grid-template-columns: 1fr;
  }
}
.project-item {
  position: relative;
  padding-top: 74.595%;
}
.project-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-item__title {
  margin-top: 20px;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 133.333%;
}
@media (max-width: 1199.98px) {
  .project-item__title {
    font-size: 2.8rem;
  }
}
@media (max-width: 991.98px) {
  .project-item__title {
    margin-top: 10px;
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .project-item__title {
    font-size: 1.8rem;
  }
}
.project__group {
  margin: 40px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .project__group {
    margin-bottom: 74px;
  }
}
.project-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #828282;
}
@media (max-width: 575.98px) {
  .project-btn {
    font-size: 1.6rem;
  }
}
.project-btn__icon {
  width: 30px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(2%) saturate(9%) hue-rotate(84deg) brightness(92%) contrast(90%);
}
@media (max-width: 575.98px) {
  .project-btn__icon {
    width: 20px;
  }
}
.project__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 100px;
  border-top: 1px solid #828282;
}
@media (max-width: 767.98px) {
  .project__cta {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
.project__interior-work {
  flex-direction: row-reverse;
}
.project__interior-work-wrap {
  margin-right: 0 !important;
  margin-left: auto;
}

.page-navigation {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
}
.page__number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 9px;
  height: 28px;
  width: 28px;
  flex-shrink: 0;
  transition: all 0.2s;
}
.page__number--current {
  background: #22201f;
  color: #fff;
}
.page__number + .page__number {
  margin-left: 10px;
}
@media (max-width: 575.98px) {
  .page__number + .page__number {
    margin-left: 6px;
  }
}

.project-page-2__inner {
  padding: 100px 0;
}
@media (max-width: 991.98px) {
  .project-page-2__inner {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .project-page-2__inner {
    padding: 30px 0;
  }
}
.project-page-2__row {
  background: inherit;
  text-align: left;
}
.project-page-2__group {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .project-page-2__group {
    margin-top: 30px;
  }
}
.project-page-2__desc {
  margin-top: 24px;
  max-width: 570px;
}
@media (max-width: 991.98px) {
  .project-page-2__desc {
    margin-top: 18px;
  }
}
@media (max-width: 767.98px) {
  .project-page-2__desc {
    margin-top: 12px;
  }
}
.project-page-2__desc--sub {
  margin-top: 14px;
  margin-left: auto;
  text-align: left;
}
.project-page-2__img-wrap {
  position: relative;
  padding-top: 74.21%;
  max-width: 636px;
  margin-right: calc(var(--grid-gutter-x) / 2);
}
@media (max-width: 991.98px) {
  .project-page-2__img-wrap {
    max-width: 100%;
    margin-right: 0;
  }
}
.project-page-2__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-page-2__info {
  padding-left: calc(var(--grid-gutter-x) / 2);
}
@media (max-width: 991.98px) {
  .project-page-2__info {
    padding-left: 0;
  }
}
.project-page-2__link {
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.3s;
}
.project-page-2__link:hover {
  color: #2484e4;
}
.project-page-2__link:hover .project-page-2__link-icon {
  filter: brightness(0) saturate(100%) invert(42%) sepia(44%) saturate(3795%) hue-rotate(193deg) brightness(97%) contrast(83%);
}
@media (max-width: 991.98px) {
  .project-page-2__link {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .project-page-2__link {
    margin-top: 22px;
  }
}
.project-page-2__link-icon {
  width: 20px;
  transition: all 0.3s;
}

/*# sourceMappingURL=main.css.map */
