@use "../abstracts";

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1000;

  background: #fff;
}

.top-bar {
  @extend %flexItemsCenter;
  justify-content: space-between;
  padding: 15px 0;
}

.navbar {
  z-index: 99;
  &.show {
    translate: 0;
  }

  @include abstracts.screen(md) {
    position: fixed;
    padding: 25px;
    inset: 0 50% 0 0;

    background: var(--primary-bg-color);

    translate: -100%;
    transition: translate 0.5s;
  }
  &__list {
    @extend %flexItemsCenter;

    @include abstracts.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    display: flex;
    position: relative;

    &:hover > .dropdown {
      visibility: visible;
    }

    @include abstracts.screen(md) {
      width: 100%;

      &:hover .navbar__link-icon {
        rotate: 0deg;
      }
    }
  }

  &__link {
    padding: 10px 17px;

    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    border-radius: 5px;
    transition: all 0.3s;

    display: flex;

    &:hover {
      background: #d6d8d9;
    }

    @include abstracts.screen(lg) {
      font-size: 1.6rem;
      padding: 10px 14px;
    }

    @include abstracts.screen(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:hover {
        background: rgb(255, 255, 255, 0.4);
      }
    }

    &-icon {
      margin-left: 6px;
      transition: 0.1s;

      @include abstracts.screen(md) {
        rotate: -90deg;
      }
    }

    //     &.current {
    //       background: rgb(204, 204, 204, 0.7);
    //     }
  }
}

.top-act {
  &__btn {
    --height-btn: 46px;
    height: var(--height-btn) !important;
    padding: 0 31px !important;

    @include abstracts.screen(lg) {
      --height-btn: 34px;
      width: 100px;
      font-size: 1.6rem !important;
    }
  }
}
