@use "../abstracts";

.slideshow {
  position: relative;

  &__inner {
  }

  &__heading {
    font-size: 13.6rem;
    font-weight: 700;
    line-height: 104.412%;

    color: #22201f;

    @include abstracts.screen(md) {
      font-size: 3.6rem;
    }
  }

  &__decor {
    position: absolute;
    right: 15px;
    top: 21px;

    &-mobile {
      position: absolute;
      right: 47px;
      top: 5px;
    }
  }

  &__round {
    position: absolute;
    top: -9px;
    left: -17px;
  }

  &-star {
    &__small {
      position: absolute;
      left: -22px;
      bottom: -4px;
    }
    &__large {
      position: absolute;
      top: -17px;
      left: 640px;

      @include abstracts.screen(md) {
        top: -5px;
        left: 166px;

        width: 14px;
      }
    }
  }

  &__box {
    width: 351px;
    height: 99px;
    flex-shrink: 0;
  }
}
