*,
::before,
::after {
  box-sizing: border-box;
}

* {
  // Tắt tabhightlight
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #22201f;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    // opacity: 0.8;
    background: black;
    color: #fff;
  }

  &:hover .icon {
    filter: var(--filter-icon);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.dark-color {
  color: var(--text-dark-color);
}

.icon {
  // filter: var(--filter-icon);
}

.icon-theme-dark {
  filter: var(--filter-icon);
}

.heading-white {
  color: var(--text-heading-white-color);
}
